__pycache__
*egg-info
.eggs

*bak
*log

.ipynb_checkpoints

dask-worker-space

docs/_build/
docs/_static/
docs/_templates/
_build
_static
_templates


local/
src/

# see scripts/copy_ucsc_exe
scripts/fetchChromSizes 
scripts/bedGraphToBigWig 
scripts/bedToBigBed 
scripts/hubCheck 
scripts/bigBedInfo 
scripts/bigBedSummary 
scripts/bigWigInfo 
scripts/bigWigSummary
